body{
    margin: 0;
    padding: 0;
    font-family: "Asap";
}

#page {
    display: flex;
}

#logo{
    max-width: 100%;
    max-height: 100%;
}

#logo-container {
    margin-top: 15px;
    margin-left: 15px;
    width: 50%;
}

.side-panel {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.274);
    width: 20%;
}

.sign-in {
    margin-left: 20px;
    padding-top: 100px;


}

#join {
    font-size: 2rem;
}

input{
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 3px solid #099dfd;
    border-radius: 7px;
    width: 80%;
}

button {
    font-size: 1rem;
    margin-top: 10px;
    background-color: #099dfd;
    border-radius: 7px;
    color: white;
}

.video-panel {
    flex: 2;
    justify-items: center;
}

#selfStream {
    width: 70%;
    height: 50%;
    margin-left: 200px;
    margin-top: 100px;
    border: 3px solid #099dfd;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.274);
}

.remoteCon {
    margin-left: 200px;
    width: 70%;
    height: 20%;
    display: inline-flex;
    /* display: flex;
    flex-direction: row; */
}

#remoteStream1 {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.274);
    border: 3px solid #099dfd;
    width: 35%;
    height: 100%;
}
#remoteStream2 {
    margin-left: 5px;
    border: 3px solid #099dfd;
    width: 35%;
    height: 100%;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.274);
}
#remoteStream3 {
    margin-left: 5px;
    border: 3px solid #099dfd;
    width: 35%;
    height: 100%;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.274);
}
#remoteStream4 {
    margin-left: 5px;
    border: 3px solid #099dfd;
    width: 35%;
    height: 100%;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.274);
}

.participants {
    margin-left: 20px;
    margin-top: 75px;
}

#list {
    font-size: 1.5rem;
}

#nameCon {
    display: flex;
    flex-direction: column;
}

#names {
    margin-top: 20px;
    margin-left: 15px;
    color: #099dfd;
    font-size: 1.25rem;
}